@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: whitesmoke;
    --foreground: #15054e;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.header{
  width:100%;
  padding:19px;
  background-color: white;
  position: -webkit-sticky;
}
 
.footer {
  margin-top:100px;
}
.left-navigation{
  position:fixed;
  left:5px;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  

}
.left-navigation .box{
  background-color: #15054e;
  opacity:0.9;
  border-radius: 10px;
  height:200px;

}
.left-navigation .item{
  padding:5px;
  color:#ffffff;

}
.userthumb, .userthumb img {
  width:48px;
  height:48px;
   
  border-radius:100%;
}
.pointer {
  cursor:pointer;
}
.profile-image{
  width:400px;
  height:399px;
  object-fit: cover;
}
.userthumb img{
  object-fit: cover;
}

/* Button style */
.loader-button {
  position: relative;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.loader-button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

/* Rotating spinner */
.loader-button .spinner {
  width: 16px;
  height: 16px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-top: 2px solid white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: absolute;
  left: 10px;
}

/* Keyframe for rotating the spinner */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Hide spinner when not loading */
.loader-button .spinner.hidden {
  display: none;
}

.alert{
  padding:10px;

}

.alert-error{
  background-color: chocolate;
  color:white;
}
.post-thumbnail{
  width:200px;
  height:300px;
  object-fit: cover;
}