@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: whitesmoke;
    --foreground: #15054e;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.header{
  width:100%;
  padding:19px;
  background-color: white;
  position: -webkit-sticky;
}
 
.footer {
  margin-top:100px;
}
.left-navigation{
  position:fixed;
  left:5px;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  

}
.left-navigation .box{
  background-color: #15054e;
  opacity:0.9;
  border-radius: 10px;
  height:200px;

}
.left-navigation .item{
  padding:5px;
  color:#ffffff;

}
.userthumb, .userthumb img {
  width:48px;
  height:48px;
   
  border-radius:100%;
}
.pointer {
  cursor:pointer;
}
.profile-image{
  width:400px;
  height:399px;
  object-fit: cover;
}
.userthumb img{
  object-fit: cover;
}